# Configuration file for epiclassifier SQL database
#
# Rename this file sql.cfg

host = "localhost";
database = "database";
user = "sqluser";
password = "sqlpassword";

# character set used to communicate with MySQL database
# examples: latin1, utf8, utf8mb4
charset = "utf8mb4"

